.figurePokemon {
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
  
    & img {
      height: 180px;
      width: 180px;
      animation: rebota 1s alternate infinite ease-in;
      transition: all 1s ease-in-out;
    }
  }
  
  .like {
    color: red;
  }
  
  @keyframes rebota {
    100% {
      transform: translateY(5px);
    }
  }
  
  .grass {
    background-color: #3e8e463b;
  }
  
  figure.grass {
    border: 10px solid #3e8e46;
  }
  
  figure.bug {
    border: 10px solid #6b9f1e;
  }
  
  .bug {
    background-color: #6b9f1e80;
  }
  
  figure.dark {
    border: 10px solid #494552;
  }
  
  .dark {
    background-color: #49455287;
  }
  
  figure.dragon {
    border: 10px solid #084b96;
  }
  
  .dragon {
    background-color: #084b9682;
  }
  
  figure.electric {
    border: 10px solid #d0b92e;
  }
  
  .electric {
    background-color: #d0b92e75;
  }
  
  figure.fairy {
    border: 10px solid #c57ccf;
  }
  
  .fairy {
    background-color: #c57ccf7e;
  }
  
  figure.fighting {
    border: 10px solid #a23151;
  }
  
  .fighting {
    background-color: #a2315184;
  }
  
  figure.fire {
    border: 10px solid #e77a3a;
  }
  
  .fire {
    background-color: #e77a3a6f;
  }
  
  figure.flying {
    border: 10px solid #6c7fae;
  }
  
  .flying {
    background-color: #6c7fae7c;
  }
  
  figure.ghost {
    border: 10px solid #3c4c80;
  }
  
  .ghost {
    background-color: #3c4c807e;
  }
  
  figure.ground {
    border: 10px solid #a05b36;
  }
  
  .ground {
    background-color: #a05b367c;
  }
  
  figure.ice {
    border: 10px solid #5fbcb2;
  }
  
  .ice {
    background-color: #5fbcb27e;
  }
  
  figure.normal {
    border: 10px solid #6f7780;
  }
  
  .normal {
    background-color: #6f77807b;
  }
  
  figure.poison {
    border: 10px solid #8c4f9e;
  }
  
  .poison {
    background-color: #8c4f9e7a;
  }
  
  figure.psychic {
    border: 10px solid #d1545b;
  }
  
  .psychic {
    background-color: #d1545b7e;
  }
  
  figure.rock {
    border: 10px solid #a09671;
  }
  
  .rock {
    background-color: #a0967178;
  }
  
  figure.steel {
    border: 10px solid #4b758f;
  }
  
  .steel {
    background-color: #4b758f7e;
  }
  
  figure.water {
    border: 10px solid #3b7ec7;
  }
  
  .water {
    background-color: #3b7ec775;
  }
  